.episode-card {
    height: 8.5rem;
    padding: .3rem;
    margin-bottom: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    background-color: white;
    display: grid;
    grid-template-columns: 114px auto 10%;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Title Title Date"
        "Image Description Action"
        "Image Footer Footer";
  }
  
  @media screen and (min-width: 900px) {
    .episode-card {
        grid-template-columns: 128px auto 8%;
        margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .episode-card {
        grid-template-columns: 142px auto 6%;
    }
  }
  
  .episode-header-title {
    grid-area: Title;
  }
  
  .episode-header-right {
    grid-area: Date;
  }
  
  .episode-image {
    grid-area: Image;
  }
  
  .episode-description {
    grid-area: Description;
  }
  
  .episode-action {
    grid-area: Action;
  }
  
  .episode-footer {
    grid-area: Footer;
  }
  
  .episode-header-title h1 {
    margin-block: 0em;
    max-height: 1.2em;
    overflow: hidden;
  }
  
  .episode-header-right {
    text-align: right;
  }
  
  .episode-menu {
    padding: 0 .3em 0 20%;
    cursor: pointer;
  }
  
  .episode-description {
    margin: 0em 0em 0em .3em;
    position: relative;
  }
  
  /* .episode-description:before {
    content: '&nbsp;';
    visibility: hidden;
  } */
  
  .episode-description p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .episode-image img, .episode-image object {
    max-width: 100%;
    max-height: 94px;
  }
  
  @media screen and (min-width: 900px) {
    .episode-image img, .episode-image object {
        max-height: 108px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .episode-image img, .episode-image object {
        max-height: 122px;
    }
  }
  
  .episode-action {
    align-self: center;
    text-align: right;
    padding-right: .3em;
  }
  
  .episode-action-icon {
    font-size: 1.3em;
    border: 0.11em solid;
    border-radius: 2em;
    line-height: 1.2em;
    width: 19px;
    text-align: initial;
    display: inline-block;
    cursor: pointer;
  }
  
  .episode-action-icon.fa-arrow-to-bottom {
    padding: 8px 9px 8px 13px;
  }
  
  .episode-action-icon.fa-times {
    font-size: 1.5em;
    padding: 6.1px 9px 6.1px 13px;
    border-width: 0.1em;
  }
  
  .episode-action-icon.fa-play {
    padding: 8px 9px 8px 13px;
  }
  
  .episode-action-icon.fa-pause {
    padding: 8px 10.5px 8px 11.5px;
  }
  
  @media screen and (min-width: 900px) {
    .episode-action-icon.fa-arrow-to-bottom {
        padding: 8px 12px 8px 13px;
    }
    
    .episode-action-icon.fa-times {
        font-size: 1.5em;
        padding: 5.85px 12px 5.85px 13px;
        border-width: 0.1em;
    }
    
    .episode-action-icon.fa-play {
        padding: 8px 12px 8px 13px;
    }
    
    .episode-action-icon.fa-pause {
        padding: 8px 13.5px 8px 11.5px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .episode-action-icon.fa-arrow-to-bottom {
        padding: 8px 14px 8px 14px;
    }
  
    .episode-action-icon.fa-times {
        padding: 5.65px 14px 5.65px 14px;
        border-width: 0.09em;
    }
  
    .episode-action-icon.fa-play {
        padding: 8px 14px 8px 14px;
    }
    
    .episode-action-icon.fa-pause {
        padding: 8px 16px 8px 12px;
    }
  }
  
  .episode-footer {
    display: flex;
  }
  
  .episode-footer-statusBar {
    flex-grow: 1;
  }
  
  .episode-footer-statusBar i {
    padding: 0.2em 0.3em;
  }
  
  .episode-footer-duration {
    display: inline-block;
    padding: 0.2em 0.3em;
  }