:root {
  --font-color: #000;
}

#root {
  display: flow-root;
  width: 100vw;
  margin-bottom: 5rem;
}

/************************
  HEADER
*************************/
header {
  background-color: lightskyblue;
  display: flow-root;
  position: relative;
  z-index: 10;
}

.header-title {
  display: flex;
  align-items: center;
  padding-left: 1em;
  & img {
    padding-right: 0.7em;
  } 
}

h1 > a {
  text-decoration: none;
  
  &:visited {
    color: var(--font-color);
  }
}

/************************
  PLAYER
*************************/

.player {
  position: fixed;
  background: white;
  width: 100vw;
  bottom: 0;
}