:root {
  --font-color: #000;
}

#root {
  display: flow-root;
  width: 100vw;
  margin-bottom: 5rem;
}

/************************
  HEADER
*************************/
header {
  background-color: lightskyblue;
  display: flow-root;
  position: relative;
  z-index: 10;
}

.header-title {
  display: flex;
  align-items: center;
  padding-left: 1em;
  & img {
    padding-right: 0.7em;
  } 
}

h1 > a {
  text-decoration: none;
  
  &:visited {
    color: var(--font-color);
  }
}

/************************
  PLAYER
*************************/

.player {
  position: fixed;
  border-top: solid 4px #777;
  width: 100%;
  bottom: 0;
}

.episode-display {
  display: flex;
  align-items: center;
  margin-right: 1em;

  & img {
    width: 75px;
    height: 75px;
    padding-right: 5px;
  }
  & p {
    margin: 0;
  }
}

.episode-meta-title {
  padding-bottom: 0.2em;
  font-weight: bold;
}

.episode-meta-series {
  font-size: 0.9em;
  font-style: italic;
  color: #333
}

.rhap_additional-controls {
  flex: 0 0 auto;
}

.rhap_main-controls {
  flex: 1 0 auto
}