a > img {
    border: 0;
}

.series-list {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.series-list img {
    display: block;
}

.series-list > a {
    width: 33.3333%;
}

.series-list img {
    width: 100%;
}

@media screen and (min-width: 900px){
    .series-list > a {
        width: 25%;    
    }
}



