.header-series {
    padding: 1em;
    background-color: cornflowerblue;
}

.header-series:empty {
    padding: 0;
}
  
.header-series h1 {
    display: inline-block;
    margin: 0;
}

.series-description-button {
    display: inline-block;
    font-size: 1.1em;
    margin-inline-start: 0.5em;
    cursor: pointer;
}

.series-description {
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 1.2em;
    max-height: 190px;
    transition: max-height .5s ease-out;
}

.series-description p {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.series-description.hide {
    max-height: 0;
}

.series-description.hide p {
    opacity: .3;
}

.credits {
    margin: 0;
}

.credits .role {
    font-weight: bold;
}
